# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
pubspec.lock
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
lib\utils\constants\api_constants.dart
# Firebase and Google services files
android/app/google-services.json
ios\Runner\GoogleService-Info.plist
firebase.json
lib\firebase_options.dart

# Key store files
*.keystore

# Environment variables and sensitive files
*.env

# User-specific files
*.log
*.tmp
*.bak
macos/Flutter/ephemeral/flutter_export_environment.sh
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
.gitignore
.gitignore
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake

# Old code
lib\z_old_items